body {
    font-size: 115%;
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: calibri, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #1e2d76;

    // layout
    max-width: 960px;
    margin: auto;
}

a {
    // links inherit colors like other elements
    color: inherit;
}

.langswitch {
    margin-top: 0.5em;
    a {
        text-decoration: none;
    }
    img {
        vertical-align: middle;
    }
}

header {
    div#logo {
        background: url('/images/microplastic-pieces.jpg');
        background-position: 0 90%;
        background-size: cover;
        height: 150px;
        h1 {
            background: white;
            opacity: 0.9;
            display: inline-block;
            padding: 0 1ch;
        }
    }
}

// navigation bar
nav {
    display: flex;
    justify-content: end;
    align-items: center;

    a {
        font-size: 125%;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
}

@media (max-width: 900px) {
    nav {
        display: block;
        justify-content: end;
        align-items: center;

        h1 {
            font-size: 150%;
            background-color: lightseagreen;
            flex-grow: 1;
        }

        a {
            display: block;
            text-align: left;
            padding: 8px;
            text-decoration: none;
        }
    }
}

article {
    padding: 1em;
    line-height: 1.5;
}
.langswitch {
    padding: 4px;
}

.lang {
    background-color: orange;
    display: inline-block;
}
