$eco-blö: #2d72a3;
$eco-blö-dark: darken($eco-blö, 20);
$eco-blö-light: lighten($eco-blö, 10);

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin-top: 1em;
}
h1 {
    text-align: right;
    margin-right: 2em;
    p {
        display: inline-block;
        padding: 4px;
        border: solid 2px #333;
    }
}
h1 + p {
    margin-top: 2em;
}
h1 {
    margin-top: 2em;
}
h2 {
    margin-top: 2em;
}
a {
    color: inherit; // links inherit colors like other elements
}

body {
    font-size: 110%;
    //font-family: Verdana, Geneva, Tahoma, sans-serif;
    //font-family: calibri, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'SourceSansPro-Regular', Arial;
    color: #28292e;
    padding: 4px;
    padding-top: 0;

    // layout
    max-width: 1200px;
    margin: 0 auto;

    overflow-y: scroll;
}

.langswitch {
    display: flex;
    gap: 0.15em;
    a {
        text-decoration: none;
        padding: 0 2px;
        border-radius: 3px;
    }

    .sel {
        background: $eco-blö-dark;
        color: #fff;
    }

    img {
        vertical-align: middle;
    }
}

div#logo {
    background: url('../images/pic2.jpg');
    background-position: 0 90%;
    background-size: cover;
    height: 150px;
    h1 {
        background: white;
        opacity: 0.9;
        display: inline-block;
        padding: 0 1ch;
    }
}

body.forschung div#logo {
    background: url('../images/pic3.jpg');
}

body.arbeitsplan div#logo {
    background: url('../images/pic4.jpg');
    background-position-y: -82px;
    background-position-x: -68px;
}

body.partner div#logo {
    background: url('../images/pic5.jpg');
    background-position-y: -111px;
    background-position-x: 0;
}

#logonew {
    background-color: $eco-blö;
    height: 40px;
    width: 40px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-right: 4px;
    border: none;
}

header {
    position: sticky;
    top: 0;
    //margin-bottom: 0.5em;
    background-color: #fff;
    border-top: solid 4px #fff;
}

// navigation bar
nav {
    display: flex;
    justify-content: space-between;

    & > div {
        flex-grow: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
        gap: 0.2em;
        color: #fff;
        background: $eco-blö; // #b0b8c9;
        padding: 4px;
    }

    a {
        color: inherit;
        display: inline-block;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        border-radius: 3px;
    }
    a#logonew {
        border-radius: 0;
    }
    a:hover {
        background: $eco-blö-light;
    }

    .alogo {
        &:hover {
            opacity: 0.9;
        }
        padding: 0;
    }

    a.sel {
        background: $eco-blö-dark;
        color: #fff;
    }
    span {
        flex-grow: 5;
    }
}

article {
    // padding: 4em 0;
    line-height: 1.5;
}

.lang {
    background-color: orange;
    display: inline-block;
}

article.index {
    p.mission {
        margin: 2em auto 2em auto;
        text-align: center;
        font-size: 115%;
        line-height: 1.2;
        font-style: italic;
        max-width: 600px;
    }

    margin-top: 2em;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 1.5em;

    section {
        display: block;
        padding: 4px;
    }

    section.side {
        padding-top: 4em;
        h4 {
            margin: 0;
        }
        font-size: 70%;
        img {
            width: 140px;
            display: block;
        }
        img#cornet {
            margin-left: 1em;
        }
        img#ffg {
            margin-bottom: 1em;
        }
        div {
            display: grid;
            justify-items: center;
        }
    }
}

.logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2em;
    padding: 2em;
    img {
        width: 140px;
    }
    img#ofi {
        height: 80px;
    }
    img#ecoplus {
        height: 60px;
    }
}

article.partner {
    img {
        float: left;
        height: 40px;
        margin: 0.5em;
        margin-right: 1.5em;
    }
    section#ecoplus img {
        height: 60px;
        margin-left: 0;
    }
    section {
        + section {
            margin-top: 3em;
        }
        h3 {
            font-size: 1.1em;
        }
    }
    section#ofi img {
        height: 80px;
    }
    section#leibnitz img {
        width: 150px;
        margin-left: 0;
    }
}

article.arbeitsplan {
    h2 {
        margin-top: 1em;
    }
    img {
        margin: 2em auto;
        display: block;
        max-width: 100%;
    }
}

article.literatur {
    font-size: medium;
    margin-top: 4em;
    h2 {
        margin-top: 2em;
    }
}

#scrolltop2 {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 12px;
    right: 12px;
}

article.impressum {
    h3 {
        margin-bottom: 1em;
    }
}

article.aktuelles {
    section {
        background: white;
        margin: 1em 0;
        border: solid 1px $eco-blö;
        padding: 0.5em;
    }
    h4 {
        font-size: medium;
        margin-top: 0;
        margin-bottom: 1em;
    }
    img {
        padding: 1em;
    }
    p + p, p + a {
        margin-top: 1em;
    }
    p + a, a + a {
        display: block;
    }
}

@media (max-width: 800px) {
    body {
        margin: 0;
        padding-top: 4px;
    }
    header {
        position: initial;
        border-top: none;
    }
    .langswitch {
        order: -1;
        flex-direction: row;
        justify-content: flex-end;
        a {
            border-radius: 0;
            border: none;
        }
        margin-bottom: 0.5em;
        font-size: x-large;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: end;

        div {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 0;
            background: initial;
            padding: 0;
        }

        h1 {
            font-size: 150%;
            background-color: lightseagreen;
            flex-grow: 1;
        }

        a {
            display: block;
            text-align: left;
            padding: 8px 4px;
            text-decoration: none;
            border-bottom: solid 1px #333;
            color: initial;
            border-radius: 0;
        }

        a:not(.sel):hover {
            background-color: initial;
        }
    }
    article.index {
        display: block;
    }
    article.index section.side {
        font-size: initial;
        a {
            padding: 10px;
            padding-left: 0;
            display: inline-block;
        }
    }
}

small {
    display: block;
    text-align: right;
    font-size: small;
    margin-top: 2px;
}
