h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 1em;
}

h1 {
  text-align: right;
  margin-right: 2em;
}

h1 p {
  display: inline-block;
  padding: 4px;
  border: solid 2px #333;
}

h1 + p {
  margin-top: 2em;
}

h1 {
  margin-top: 2em;
}

h2 {
  margin-top: 2em;
}

a {
  color: inherit;
}

body {
  font-size: 110%;
  font-family: 'SourceSansPro-Regular', Arial;
  color: #28292e;
  padding: 4px;
  padding-top: 0;
  max-width: 1200px;
  margin: 0 auto;
  overflow-y: scroll;
}

.langswitch {
  display: flex;
  gap: 0.15em;
}

.langswitch a {
  text-decoration: none;
  padding: 0 2px;
  border-radius: 3px;
}

.langswitch .sel {
  background: #173a53;
  color: #fff;
}

.langswitch img {
  vertical-align: middle;
}

div#logo {
  background: url("../images/pic2.jpg");
  background-position: 0 90%;
  background-size: cover;
  height: 150px;
}

div#logo h1 {
  background: white;
  opacity: 0.9;
  display: inline-block;
  padding: 0 1ch;
}

body.forschung div#logo {
  background: url("../images/pic3.jpg");
}

body.arbeitsplan div#logo {
  background: url("../images/pic4.jpg");
  background-position-y: -82px;
  background-position-x: -68px;
}

body.partner div#logo {
  background: url("../images/pic5.jpg");
  background-position-y: -111px;
  background-position-x: 0;
}

#logonew {
  background-color: #2d72a3;
  height: 40px;
  width: 40px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-right: 4px;
  border: none;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-top: solid 4px #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > div {
  flex-grow: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  gap: 0.2em;
  color: #fff;
  background: #2d72a3;
  padding: 4px;
}

nav a {
  color: inherit;
  display: inline-block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 3px;
}

nav a#logonew {
  border-radius: 0;
}

nav a:hover {
  background: #3a8ec9;
}

nav .alogo {
  padding: 0;
}

nav .alogo:hover {
  opacity: 0.9;
}

nav a.sel {
  background: #173a53;
  color: #fff;
}

nav span {
  flex-grow: 5;
}

article {
  padding: 0 2em 4em 2em;
  line-height: 1.5;
}

.lang {
  background-color: orange;
  display: inline-block;
}

article.index {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1.5em;
}

article.index p.mission {
  margin: 2em auto 2em auto;
  text-align: center;
  font-size: 115%;
  line-height: 1.2;
  font-style: italic;
  max-width: 600px;
}

article.index section.side {
  padding-top: 4em;
  font-size: 70%;
}

article.index section.side h4 {
  margin: 0;
}

article.index section.side img {
  width: 140px;
  display: block;
}

article.index section.side img#cornet {
  margin-left: 1em;
}

article.index section.side img#ffg {
  margin-bottom: 1em;
}

article.index section.side div {
  display: grid;
  justify-items: center;
}

.logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

.logos img {
  width: 140px;
}

.logos img#ofi {
  height: 80px;
}

.logos img#ecoplus {
  height: 60px;
}

article.partner img {
  float: left;
  height: 40px;
  margin: 0.5em;
  margin-right: 1.5em;
}

article.partner section#ecoplus img {
  height: 60px;
  margin-left: 0;
}

article.partner section + section {
  margin-top: 3em;
}

article.partner section h3 {
  font-size: 1.1em;
}

article.partner section#ofi img {
  height: 80px;
}

article.partner section#leibnitz img {
  width: 150px;
  margin-left: 0;
}

article.arbeitsplan h2 {
  margin-top: 1em;
}

article.arbeitsplan img {
  margin: 2em auto;
  display: block;
  max-width: 100%;
}

article.literatur h2 {
  margin-top: 2em;
}

#scrolltop2 {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 12px;
  right: 12px;
}

article.impressum h3 {
  margin-bottom: 1em;
}

article.aktuelles section {
  background: white;
  margin: 1em 0;
  border: solid 1px #2d72a3;
  padding: 0.5em;
}

article.aktuelles h4 {
  font-size: medium;
  margin-top: 0;
  margin-bottom: 1em;
}

article.aktuelles img {
  padding: 1em;
}

article.aktuelles p + p,
article.aktuelles p + a {
  margin-top: 1em;
}

article.aktuelles p + a,
article.aktuelles a + a {
  display: block;
}

@media (max-width: 800px) {
  body {
    margin: 0;
    padding-top: 4px;
  }
  header {
    position: initial;
    border-top: none;
  }
  .langswitch {
    order: -1;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5em;
    font-size: x-large;
  }
  .langswitch a {
    border-radius: 0;
    border: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  nav div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    background: initial;
    padding: 0;
  }
  nav h1 {
    font-size: 150%;
    background-color: lightseagreen;
    flex-grow: 1;
  }
  nav a {
    display: block;
    text-align: left;
    padding: 8px 4px;
    text-decoration: none;
    border-bottom: solid 1px #333;
    color: initial;
    border-radius: 0;
  }
  nav a:not(.sel):hover {
    background-color: initial;
  }
  article.index {
    display: block;
  }
  article.index section.side {
    font-size: initial;
  }
  article.index section.side a {
    padding: 10px;
    padding-left: 0;
    display: inline-block;
  }
}

small {
  display: block;
  text-align: right;
  font-size: small;
  margin-top: 2px;
}

section h3 {
  margin-top: 0;
}

article {
  margin-top: 4em;
}
